h1 Gemsurance As A Service

p This is a service that checks your #{link_to 'Ruby', 'https://www.ruby-lang.org/en/', target: '_blank'} apps for any vulnerabilities using #{link_to 'Gemsurance', 'https://github.com/appfolio/gemsurance', target: '_blank'}
