/*
 *= require_self
 */

@import "foundation/foundation_and_overrides";
@import "data_tables";
@import "resources";
@import "definition_lists";

form.button_to {
  display: inline-block;
}

#main-content {
  padding-top: $global-margin;
}

.title-text {
  font-size: 1.4em;
  display: inline;
}

.top-bar {
  li, a {
    color: $white;
  }
}

td {
  .button {
    margin-bottom: 0;
  }
}

.build-image {
  margin-left: 5px;
  height: 20px;
}

table {
  td.full-width {
    max-width:100%;
    white-space: nowrap;
  }
}
