/*
 *= require_self
 */

@import "foundation/foundation_and_overrides";
@import "data_panel";
@import "definition_lists";

form.button_to {
  display: inline-block;
}

#main-content {
  padding-top: $global-margin;
}

.title-text {
  font-size: 1.4em;
  display: inline;
}

.top-bar {
  li, a {
    color: $white;
  }
}

td {
  .button {
    margin-bottom: 0;
  }
}

.build-image {
  margin-left: 5px;
  height: 20px;
}

table {
  td.full-width {
    max-width:100%;
    white-space: nowrap;
  }

  tr {
    &.outdated {
      background-color: lighten(map-get($foundation-palette, warning), 20%) !important;
    }

    &.vulnerable {
      background-color: saturate(lighten(map-get($foundation-palette, alert), 30%), 50%) !important;
    }
  }
}

.code-block {
  width: 100%;
  overflow-x: auto;

  code {
    white-space: pre;
  }
}
