.table-scroll
  table
    tr
      th Name
      th Version
      th Newest Version
    - gem_usages.each do |gem_usage|
      - info = gem_usage.gem_info
      - version = gem_usage.gem_version
      - current_version = version.version
      - newest_version = info.newest_gem_version.version
      - tr_class = ''
      - tr_tooltip = 'Current'
      - if version.vulnerabilities.any?
        - tr_class = 'vulnerable-gem'
        - tr_tooltip = 'Vulnerable'
      - elsif current_version != newest_version
        - tr_class = 'outdated-gem'
        - tr_tooltip = 'Outdated'
      tr class=tr_class title=tr_tooltip
        td
          = link_to info.name, gem_path(info)
        td= link_to current_version, gem_version_path(gem_id: info.id, id: version.id)
        td= newest_version
